.mainContainer{
    margin: auto;
    max-width: 400px;
    min-height: 300px;
    width: 100%;
    background-color: var(--background-primary);
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgb(216, 193, 193);
}
.titulo{
    font-size: 1.1rem;
    padding: 15px;
    text-align: center;
}
.middleContainer{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.todoCaixa{
    background-color: var(--background-primary);
}
.inputTodo{
    background-color: var(--background-secundary);
}
.inputArea{
    height: 2.2rem;
    width: 330px;
    border-radius: 5px;
    border-color: rgb(197, 197, 197);
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
}
.bInput{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 5px;
    border-color: rgb(197, 197, 197);
    border-style: solid;
    border-width: 1px;
    background-color:var(--input-button) ;
    color: white;
    font-size: 1.3rem;
}
.CompletedTitle{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    background-color: var(--background-secundary);
    padding: 5px;
}
.todoText{
    height: 2.2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.todoCheck{
    appearance: none;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    border: 1px solid gray;
}
.todoCheck:checked{
    background-color: var(--success);
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoCheck:checked::after{
    content: '';
    width: 0.2rem;
    height: 0.5rem;
    display: block;
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
}

.buttonTodoCaixa{
    height: 2.2rem;
    display: flex;
    align-items: center;
    gap: 15px;
}
.todobutton{
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todoButtonIcon{
    height: 1rem;
    width: 1rem;
}
.todoCompleted{
    text-decoration: line-through;
    color: var(--text-muted);
}