:root {
  --background-primary:  #f1eeee;
  --background-secundary: #e0e0e0;
  --card-bg: #F3F4F6;
  --input-button: rgb(81, 159, 248);
  --text-main: #1F2937;     
  --text-muted: #9CA3AF;
  --success: #22C55E;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
